<%= form_for(@userprof) do |f| %>
  <% if @userprof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprof.errors.count, "error") %> prohibited this userprof from being saved:</h2>



      <ul>
      <% @userprof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="all">

<div class="main">


  <div class="field">
    アイコン
    <% f.label :image %><br>
    <%= f.file_field :image %> 
  </div>

  <div class="field">
    ニックネーム
    <% f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>

   <div class="field">
    大学
    <% f.label :univ_id %><br>
    <%= f.select :univ_id, Univ.all.map{ |u| [u.name, u.id] } %>
  </div>

  <div class="field">
    性別
    <% f.label :gender %><br>
    <%= f.radio_button :gender, 0 %>男
    <%= f.radio_button :gender, 1 %>女<br />

  </div>
  
  <div class="field">
    年齢
    <%= f.label :age %><br>
    <%= f.select :age, 18..29 %>
  </div>

  <div class="field">
    自己紹介
    <% f.label :desc %><br>
    <%= f.text_area :desc, :size=>"70" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  </div>
</div>

<% end %>
