<p id="notice"><%= notice %></p>


<p>
  
    <tr>
      <% if @userprof.image? %>
    　<td><%= image_tag @userprof.image.url %></td>
    　<% else %>
    　<td><%= image_tag 'noimage.gif' %></td>
    　<% end %>
      
    </tr>
  

  <%= @userprof.nickname %>
</p>

 <strong>大学:</strong>
  <%= @userprof.univ.name %>
</p>




<p>
  <strong>性別:</strong>
  <%if @userprof.gender == 0%>
  	男
  <%end%>
  <%if @userprof.gender == 1%>
  	女
  <%end%>
  
</p>



<p>
  <strong>年齢:</strong>
  <%= @userprof.age %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @userprof.desc %>
</p>


