
<div class="section_title">
  <h2>一覧から探す</h2>
</div>

  <%= search_form_for @search do |f| %>
  <%# start 特定の文字列で始まる商品名で検索 %>
  <%= f.label :name_start, "イベント名" %>
  <%= f.search_field :name_start %>
  <br/>
  <%= f.submit %>
  <% end %>

<div><%= link_to 'イベントを作成', new_event_path %></div>

<div class="container">
<section id="top_plans" class="row">
  <div class="user_and_plans">
      <div class="plan_box_outer">
      <% @events.each do |event| %>
      

        <div class="plan_box clearfix col-md-4">

          <div class="user_relative">
            <div class="avout_class_div"></div>
            
         </div>
          <%=link_to event_path(event) do %>
          <div class="a_plan relative">
           <h4><%= event.name %></h4>
            <div class="disp_table img_and_name">
            <div><%= event.user.user_prof.try(:image) %></div>
            <p>投稿者：<%= event.user.user_prof.try(:nickname) %></p>
            <p><%= event.user.user_prof.try(:desc) %></p>
            </div>
           <p>
            場所：<%= event.area %>
          </p>
          <p>
            日付：<%= event.date %>
          </p>
          <div class="fav_div"> 
            <% if event.favorited_by?(current_user) %>
              <p><%= link_to "❤️", event_favorites_path(event), method: :delete %>
            <% else %>
              <%= link_to "♡", event_favorites_path(event), method: :post %>
            <% end %>
              </p>
            </div>
           


          </div>
          
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>

</section>
</div>



<p id="notice"><%= notice %></p>



